<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input 
        [class.is-invalid] ="loginForm.get('Email')?.touched && loginForm.get('Email')?.invalid"
        type="email" 
        formControlName="Email" 
        class="form-control"
        id="floatingInput" 
        placeholder="Email">
        <label for="floatingInput">Email address</label>
        <div *ngIf="loginForm.get('Email')?.errors?.['required']" class="invalid-feedback">Please choose a email</div>
        <div *ngIf="loginForm.get('Email')?.errors?.['Email']" class="invalid-feedback">Invalid email address</div>
      </div>
      <div class="form-floating">
        <input type="password" formControlName="Password" class="form-control" id="floatingPassword"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="d-grid">
        <button class="btn btn-lg btn-primary mt-3" type="Submit">Sign in</button>
      </div>
    </form>
  </div>
    <div class="col-4 ms-5">
      <p>Form Status: {{loginForm.status}}</p>
      <p>Email Status: {{loginForm.get('Email')?.status}}</p>
      <p>Email Touched: {{loginForm.get('Email')?.touched}}</p>
      <p>Email Dirty: {{loginForm.get('Email')?.dirty}}</p>
      <pre>{{loginForm.value | json}}</pre>
    </div>
  </div>
